<!doctype html>
<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head th:replace="common/head.html"></head>
<body>
<div th:replace="common/nav-bar.html"></div>
<div class="container mt-100px">
    <h3 class="page-title">Thư viện e-book</h3>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-12 ">
            <h6 class="search-option">Tìm kiếm sách</h6>
            <div class="input-group mb-3">
                <input aria-describedby="basic-addon2" class="form-control" placeholder="Nhập tên sách cần tìm kiếm"
                       type="text">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-6 ">
            <h6 class="search-option">Thể loại</h6>
            <select class="custom-select">
                <option selected>Tất cả</option>
                <option value="1">Kinh dị</option>
                <option value="2">Trinh thám</option>
                <option value="3">Lãng mạn</option>
            </select>
        </div>
        <div class="col-lg-3 col-md-3 col-6 ">
            <h6 class="search-option">Tìm kiếm theo</h6>
            <select class="custom-select">
                <option selected>Mới cập nhật</option>
                <option value="1">Xem nhiều</option>
                <option value="2">Tên A-Z</option>
                <option value="3">Tên Z-A</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-9 col-12">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-6 mb-4">
                    <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                         src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
                    <div class="d-flex view-count">
                        <i class="far fa-eye"></i>
                        <p class="pl-1">100</p>
                    </div>
                    <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
                </div>
                <div class="col-lg-3 col-md-4 col-6 mb-4">
                    <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                         src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
                    <div class="d-flex view-count">
                        <i class="far fa-eye"></i>
                        <p class="pl-1">100</p>
                    </div>
                    <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
                </div>
                <div class="col-lg-3 col-md-4 col-6 mb-4">
                    <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                         src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
                    <div class="d-flex view-count">
                        <i class="far fa-eye"></i>
                        <p class="pl-1">100</p>
                    </div>
                    <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
                </div>
                <div class="col-lg-3 col-md-4 col-6 mb-4">
                    <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                         src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
                    <div class="d-flex view-count">
                        <i class="far fa-eye"></i>
                        <p class="pl-1">100</p>
                    </div>
                    <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
                </div>
                <div class="col-lg-3 col-md-4 col-6 mb-4">
                    <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                         src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
                    <div class="d-flex view-count">
                        <i class="far fa-eye"></i>
                        <p class="pl-1">100</p>
                    </div>
                    <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
                </div>
                <div class="col-lg-3 col-md-4 col-6 mb-4">
                    <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                         src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
                    <div class="d-flex view-count">
                        <i class="far fa-eye"></i>
                        <p class="pl-1">100</p>
                    </div>
                    <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
                </div>
                <div class="col-lg-3 col-md-4 col-6 mb-4">
                    <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                         src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
                    <div class="d-flex view-count">
                        <i class="far fa-eye"></i>
                        <p class="pl-1">100</p>
                    </div>
                    <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
                </div>
                <div class="col-lg-3 col-md-4 col-6 mb-4">
                    <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                         src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
                    <div class="d-flex view-count">
                        <i class="far fa-eye"></i>
                        <p class="pl-1">100</p>
                    </div>
                    <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
                </div>
                <div class="col-lg-3 col-md-4 col-6 mb-4">
                    <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                         src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
                    <div class="d-flex view-count">
                        <i class="far fa-eye"></i>
                        <p class="pl-1">100</p>
                    </div>
                    <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
                </div>
                <div class="col-lg-3 col-md-4 col-6 mb-4">
                    <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                         src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
                    <div class="d-flex view-count">
                        <i class="far fa-eye"></i>
                        <p class="pl-1">100</p>
                    </div>
                    <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
                </div>
                <div class="col-lg-3 col-md-4 col-6 mb-4">
                    <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                         src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
                    <div class="d-flex view-count">
                        <i class="far fa-eye"></i>
                        <p class="pl-1">100</p>
                    </div>
                    <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
                </div>
                <div class="col-lg-3 col-md-4 col-6 mb-4">
                    <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                         src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
                    <div class="d-flex view-count">
                        <i class="far fa-eye"></i>
                        <p class="pl-1">100</p>
                    </div>
                    <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
                </div>
            </div>
            <!--    Phân trang -->
            <!--    =======================================================-->
            <div class="d-flex justify-content-center mt-2 mb-5">
                <div id="my-pagination"></div>
            </div>
            <!--    =======================================================-->
        </div>
        <div class="col-lg-4 col-md-3 col-12">
            <h6 class="search-option">TOP TRUYỆN NGẮN - NGÔN TÌNH</h6>
            <div class="book-ranking-outline">
                <div class="book-ranking-info">
                    <div class="book-ranking">
                        1
                    </div>
                    <h6 class="book-display-name">
                        Y Đạo Quan Đồ
                    </h6>
                </div>
            </div>
            <div class="book-ranking-outline">
                <div class="book-ranking-info">
                    <div class="book-ranking">
                        2
                    </div>
                    <h6 class="book-display-name">
                        Y Đạo Quan Đồ
                    </h6>
                </div>
            </div>
            <div class="book-ranking-outline">
                <div class="book-ranking-info">
                    <div class="book-ranking">
                        3
                    </div>
                    <h6 class="book-display-name">
                        Y Đạo Quan Đồ
                    </h6>
                </div>
            </div>
            <div class="book-ranking-outline">
                <div class="book-ranking-info">
                    <div class="book-ranking">
                        4
                    </div>
                    <h6 class="book-display-name">
                        Y Đạo Quan Đồ
                    </h6>
                </div>
            </div>
            <div class="book-ranking-outline">
                <div class="book-ranking-info">
                    <div class="book-ranking">
                        5
                    </div>
                    <h6 class="book-display-name">
                        Y Đạo Quan Đồ
                    </h6>
                </div>
            </div>
            <div class="book-ranking-outline">
                <div class="book-ranking-info">
                    <div class="book-ranking">
                        6
                    </div>
                    <h6 class="book-display-name">
                        Y Đạo Quan Đồ
                    </h6>
                </div>
            </div>
            <div class="book-ranking-outline">
                <div class="book-ranking-info">
                    <div class="book-ranking">
                        7
                    </div>
                    <h6 class="book-display-name">
                        Y Đạo Quan Đồ
                    </h6>
                </div>
            </div>
            <div class="book-ranking-outline">
                <div class="book-ranking-info">
                    <div class="book-ranking">
                        8
                    </div>
                    <h6 class="book-display-name">
                        Y Đạo Quan Đồ
                    </h6>
                </div>
            </div>
            <div class="book-ranking-outline">
                <div class="book-ranking-info">
                    <div class="book-ranking">
                        9
                    </div>
                    <h6 class="book-display-name">
                        Y Đạo Quan Đồ
                    </h6>
                </div>
            </div>
            <div class="book-ranking-outline">
                <div class="book-ranking-info">
                    <div class="book-ranking">
                        10
                    </div>
                    <h6 class="book-display-name">
                        Y Đạo Quan Đồ
                    </h6>
                </div>
            </div>
            <div class="book-ranking-outline">
                <div class="book-ranking-info">
                    <div class="book-ranking">
                        11
                    </div>
                    <h6 class="book-display-name">
                        Y Đạo Quan Đồ
                    </h6>
                </div>
            </div>
            <div class="book-ranking-outline">
                <div class="book-ranking-info">
                    <div class="book-ranking">
                        12
                    </div>
                    <h6 class="book-display-name">
                        Y Đạo Quan Đồ
                    </h6>
                </div>
            </div>
            <div class="book-ranking-outline">
                <div class="book-ranking-info">
                    <div class="book-ranking">
                        13
                    </div>
                    <h6 class="book-display-name">
                        Y Đạo Quan Đồ
                    </h6>
                </div>
            </div>
            <div class="book-ranking-outline">
                <div class="book-ranking-info">
                    <div class="book-ranking">
                        14
                    </div>
                    <h6 class="book-display-name">
                        Y Đạo Quan Đồ
                    </h6>
                </div>
            </div>
            <div class="book-ranking-outline">
                <div class="book-ranking-info">
                    <div class="book-ranking">
                        15
                    </div>
                    <h6 class="book-display-name">
                        Y Đạo Quan Đồ
                    </h6>
                </div>
            </div>
        </div>

    </div>
</div>
<div th:replace="common/footer.html"></div>
<script>
    const myPagination = $("#my-pagination");
    // Access page
    $(document).ready(function () {
        renderPagination(400);
    });

    function renderPagination(total) {
        // render pagination
        myPagination.pagination({
            items: total ? total : 0,  // total item
            itemsOnPage: 40, // number item on page
            cssStyle: 'light-theme',

        });
    }
</script>
</body>
</html>