<!doctype html>
<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head th:replace="common/head.html"></head>
<body>
<div th:replace="common/nav-bar.html"></div>
<div class="container mt-100px">
    <h3 class="page-title">Thư viện e-book</h3>
    <div class="row">
        <div class="col-lg-8 col-md-9 col-12">
            <div>
                <h6 class="search-option">Tìm kiếm sách</h6>
                <div class="input-group mb-3">
                    <input aria-describedby="basic-addon2" class="form-control" id="search-book-input"
                           placeholder="Nhập từ khóa cần tìm kiếm" type="text">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" onclick="queryListBook(0, true)" type="button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row" id="list-book">
            </div>
            <!--    Phân trang -->
            <!--    =======================================================-->
            <div class="d-flex justify-content-center mt-2 mb-5">
                <div id="my-pagination"></div>
            </div>
            <!--    =======================================================-->
        </div>
        <div class="col-lg-4 col-md-3 col-12" id="list-hottest-books"></div>

    </div>
</div>
<div th:replace="common/footer.html"></div>
<script>
    const myPagination = $("#my-pagination");
    const listhottestBooks = $("#list-hottest-books")
    const listBooks = $("#list-book")
    const searchBookInput = $("#search-book-input")
    // Access page
    $(document).ready(function () {
        queryListBook(0, true);
        listBookHottest();
    });

    searchBookInput.on("keypress", function (e) {
        if (e.keyCode === 13) {
            queryListBook(0, true)
        }
    })

    myPagination.on("click", function () {
        const page = myPagination.pagination('getCurrentPage') - 1
        queryListBook(page, false)
    })

    function queryListBook(page, reRenderPagination) {
        const dataQuery = {
            keyword: searchBookInput.val(),
            size: 12,
            page: page
        }
        MyAjax.post("/api/books/query", JSON.stringify(dataQuery),
            function (response) {
                listBooks.html("")
                const books = response.books
                for (const book of books) {
                    listBooks.append(`
                        <div class="col-lg-3 col-md-4 col-6 mb-4" onclick="MyAjax.getBookDetail('${book.id}')" style="cursor: pointer">
                            <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100 h-210px"
                                 src="${book.avatar}">
                            <div class="d-flex view-count">
                                <i class="far fa-eye"></i>
                                <p class="pl-1">${book.totalView}</p>
                            </div>
                            <h6 class="book-title">${book.name}</h6>
                        </div>
                    `)
                }
                if (reRenderPagination) {
                    renderPagination(response.total)
                }
            },
            function (xhr) {
                MyAjax.notify("Lỗi hệ thống!", "errors")
            })
    }

    function renderPagination(total) {
        // render pagination
        myPagination.pagination({
            items: total ? total : 0,  // total item
            itemsOnPage: 12, // number item on page
            cssStyle: 'light-theme',
        });
    }


    function listBookHottest() {
        MyAjax.get("/api/books/list-hottest",
            function (response) {
                const hottestBook = response.hottestBook
                listhottestBooks.html("")
                listhottestBooks.append(`<h6 class="search-option">SÁCH, TRUYỆN XEM NHIỀU</h6>`)
                let bookId = 1;
                for (const book of hottestBook) {
                    listhottestBooks.append(`
                  <div class="book-ranking-outline" >
                    <div class="book-ranking-info">
                        <div class="book-ranking">
                            ${bookId}
                        </div>
                        <h6 class="book-display-name" id="book_name">
                            ${book.name}
                        </h6>
                    </div>
                   </div>
                    `)
                    bookId++;
                }
            })
    }

</script>
</body>
</html>