<!doctype html>
<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head th:replace="common/head.html"></head>
<body style="height: auto">
<div th:replace="common/nav-bar.html"></div>
<div class="container mt-100px">
    <div class="row">
        <div class="col-lg-8 col-md-9 col-12">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-12" id="book-avt">

                </div>
                <div class="col-lg-9 col-md-8 col-12 detail-info">
                    <h4 id="book-name"></h4>
                    <div class="d-flex">
                        <h6 class="mr-2">Tác giả:</h6>
                        <h6 class="" id="book-authors"></h6>
                    </div>
                    <div class="d-flex">
                        <h6 class="mr-2">Thể loại:</h6>
                        <h6 class="" id="book-types"></h6>
                    </div>
                    <div class="d-flex">
                        <h6 class="mr-2">Số chương:</h6>
                        <h6 class="" id="book-chapter"></h6>
                    </div>
                    <div class="d-flex">
                        <h6 class="mr-2">Lượt xem:</h6>
                        <h6 class="" id="book-total-view"></h6>
                    </div>
                    <div class="d-flex" id="action-div">
                        <button class="btn btn-outline-primary mr-2">
                            Đọc ngay
                        </button>
                        <button class="btn btn-outline-success">
                            Thêm vào tủ sách
                        </button>
                    </div>
                </div>
                <div class="col-12">
                    <p id="book-intro">
                    </p>
                    <br/>
                    <small><i>Chân thành cảm ơn tất cả!</i></small>
                    <br/>
                    <b><i>Chúc bạn có những giây phút vui vẻ khi đọc truyện!</i></b>
                </div>
                <div class="col-12">
                    <h4>SÁCH, TRUYỆN CÙNG THỂ LOẠI</h4>
                    <div class="row" id="books-same-type">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-3 col-12" id="hottest-books">
        </div>
    </div>
</div>
</div>
<div th:replace="common/footer.html"></div>
</body>

<script>
    const bookId = "[[${bookId}]]"
    $(document).ready(function () {
        loadListBookHottest()
        loadBookDetailInfo()
        loadBookSameTypes()
    })

    function loadBookSameTypes() {
        MyAjax.get(`/api/books/${bookId}/same-type`,
            function (books) {
                console.log(books)
                $("#books-same-type").html("")
                for (const book of books) {
                    $("#books-same-type").append(
                        `  <div class="col-lg-3 col-md-3 col-6 mb-4">
                            <img alt="${book.name}" class="img-thumbnail w-100"
                            src="${book.avatar}">
                            <h6 class="book-title">${book.name}</h6>
                        </div>`
                    )
                }
            }, function (xhr) {
                MyAjax.notify("Lỗi hệ thống!", "errors")
            }
        )
    }

    function loadBookDetailInfo() {
        MyAjax.get(`/api/books/${bookId}`,
            function (book) {
                $("#book-avt").html("")
                $("#book-avt").append(` <img alt="${book.name}" class="img-thumbnail w-100"
                         src="${book.avatar}">`)
                $("#book-name").text(book.name)
                $("#book-chapter").text(book.totalChapter)
                $("#book-total-view").text(book.totalView)
                $("#book-intro").text(book.intro)
                $("#book-authors").text(book.authors)
                $("#book-types").text(book.types)
                $("#action-div").html("")
                $("#action-div").append(
                    `
                    <button class="btn btn-outline-primary mr-2" onclick="readBookFrom('${book.url}', '${bookId}')">
                            Đọc ngay
                    </button>
                    <button class="btn btn-outline-success" >
                            Thêm vào tủ sách
                    </button>
                    `
                )
            }, function (xhr) {
                const status = xhr.status
                if (status && status === 404) {
                    MyAjax.notify('Không tìm thấy thông tin sách!', 'error')
                } else {
                    MyAjax.notify('Lỗi hệ thống! ', 'error')
                }
            })
    }

    const hottestBooks = $("#hottest-books")

    function loadListBookHottest() {
        MyAjax.get("/api/books/list-hottest",
            function (response) {
                const hottestBook = response.hottestBook
                hottestBooks.html("")
                hottestBooks.append(`<h6 class="search-option">SÁCH, TRUYỆN XEM NHIỀU</h6>`)
                let bookId = 1;
                for (const book of hottestBook) {
                    hottestBooks.append(`
                  <div class="book-ranking-outline" onclick="MyAjax.getBookDetail('${book.id}')" style="cursor: pointer">
                    <div class="book-ranking-info">
                        <div class="book-ranking">
                            ${bookId}
                        </div>
                        <h6 class="book-display-name" id="book_name" >
                            ${book.name}
                        </h6>
                    </div>
                   </div>
                    `)
                    bookId++;
                }
            }
        )
    }

    function readBookFrom(url, bookId) {
        // Clear UI
        $("#book-intro").html("")

        // Fetch the content of the TXT file
        fetch(url)
            .then(response => response.text())
            .then(txtContent => {
                $("#book-intro").html(txtContent);
            })
            .catch(error => {
                console.error("Error fetching TXT content:", error);
            });

        // Done load truyện
        MyAjax.patch(`/api/books/${bookId}`, null,
            function () {
            },
            function (xhr) {
                MyAjax.notify('Lỗi hệ thống! ', 'error')
            }
        )
    }

</script>
</html>
