<!doctype html>
<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head th:replace="common/head.html"></head>
<body>
<div th:replace="common/nav-bar.html"></div>
<div class="container mt-100px">
    <h3 class="page-title">Thư viện e-book</h3>
    <div class="row">
        <div class="col-lg-8 col-md-9 col-12">
            <div>
                <h6 class="search-option">Tìm kiếm sách</h6>
                <div class="input-group mb-3">
                    <input aria-describedby="basic-addon2" class="form-control" placeholder="Nhập từ khóa cần tìm kiếm" type="text">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-6 mb-4">
                    <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                         src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
                    <div class="d-flex view-count">
                        <i class="far fa-eye"></i>
                        <p class="pl-1">100</p>
                    </div>
                    <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
                </div>
                <div class="col-lg-3 col-md-4 col-6 mb-4">
                    <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                         src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
                    <div class="d-flex view-count">
                        <i class="far fa-eye"></i>
                        <p class="pl-1">100</p>
                    </div>
                    <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
                </div>
                <div class="col-lg-3 col-md-4 col-6 mb-4">
                    <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                         src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
                    <div class="d-flex view-count">
                        <i class="far fa-eye"></i>
                        <p class="pl-1">100</p>
                    </div>
                    <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
                </div>
                <div class="col-lg-3 col-md-4 col-6 mb-4">
                    <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                         src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
                    <div class="d-flex view-count">
                        <i class="far fa-eye"></i>
                        <p class="pl-1">100</p>
                    </div>
                    <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
                </div>
                <div class="col-lg-3 col-md-4 col-6 mb-4">
                    <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                         src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
                    <div class="d-flex view-count">
                        <i class="far fa-eye"></i>
                        <p class="pl-1">100</p>
                    </div>
                    <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
                </div>
                <div class="col-lg-3 col-md-4 col-6 mb-4">
                    <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                         src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
                    <div class="d-flex view-count">
                        <i class="far fa-eye"></i>
                        <p class="pl-1">100</p>
                    </div>
                    <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
                </div>
                <div class="col-lg-3 col-md-4 col-6 mb-4">
                    <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                         src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
                    <div class="d-flex view-count">
                        <i class="far fa-eye"></i>
                        <p class="pl-1">100</p>
                    </div>
                    <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
                </div>
                <div class="col-lg-3 col-md-4 col-6 mb-4">
                    <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                         src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
                    <div class="d-flex view-count">
                        <i class="far fa-eye"></i>
                        <p class="pl-1">100</p>
                    </div>
                    <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
                </div>
                <div class="col-lg-3 col-md-4 col-6 mb-4">
                    <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                         src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
                    <div class="d-flex view-count">
                        <i class="far fa-eye"></i>
                        <p class="pl-1">100</p>
                    </div>
                    <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
                </div>
                <div class="col-lg-3 col-md-4 col-6 mb-4">
                    <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                         src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
                    <div class="d-flex view-count">
                        <i class="far fa-eye"></i>
                        <p class="pl-1">100</p>
                    </div>
                    <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
                </div>
                <div class="col-lg-3 col-md-4 col-6 mb-4">
                    <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                         src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
                    <div class="d-flex view-count">
                        <i class="far fa-eye"></i>
                        <p class="pl-1">100</p>
                    </div>
                    <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
                </div>
                <div class="col-lg-3 col-md-4 col-6 mb-4">
                    <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                         src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
                    <div class="d-flex view-count">
                        <i class="far fa-eye"></i>
                        <p class="pl-1">100</p>
                    </div>
                    <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
                </div>
            </div>
            <!--    Phân trang -->
            <!--    =======================================================-->
            <div class="d-flex justify-content-center mt-2 mb-5">
                <div id="my-pagination"></div>
            </div>
            <!--    =======================================================-->
        </div>
        <div class="col-lg-4 col-md-3 col-12" id="list-hottest-books">
        </div>

    </div>
</div>
<div th:replace="common/footer.html"></div>
<script>
    const myPagination = $("#my-pagination");
    const listhottestBooks = $("#list-hottest-books")
    // Access page
    $(document).ready(function () {
        renderPagination(400);
        ListBookHottest()
    });

    function renderPagination(total) {
        // render pagination
        myPagination.pagination({
            items: total ? total : 0,  // total item
            itemsOnPage: 40, // number item on page
            cssStyle: 'light-theme',

        });
    }
    function ListBookHottest() {
        MyAjax.get("/api/books/list-hottest",
            function (response) {
                const hottestBook = response.hottestBook
                console.log(hottestBook)
                listhottestBooks.html("")
                listhottestBooks.append(`<h6 class="search-option">SÁCH, TRUYỆN XEM NHIỀU</h6>`)
                let bookId = 1;
                for (const book of hottestBook) {
                    listhottestBooks.append(`
                  <div class="book-ranking-outline">
                    <div class="book-ranking-info">
                        <div class="book-ranking">
                            ${bookId}
                        </div>
                        <h6 class="book-display-name" id="book_name">
                            ${book.name}
                        </h6>
                    </div>
                   </div>
                    `)
                    bookId++;
                }
            })
    }

</script>
</body>
</html>