<!doctype html>
<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head th:replace="common/head.html"></head>
<body>
<div th:replace="common/nav-bar.html"></div>
<div class="container mt-100px">
    <h3 class="page-title">Sách & Truyện hay nên đọc</h3>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-12" id="book-sug-avt">

        </div>
        <div class="col-lg-8 col-md-6 col-12">
            <h6 class="book-name" id="book-sug-name"></h6>
            <p class="book-introduce" id="book-sug-intro"></p>
        </div>
    </div>
    <div class="w-100 d-flex justify-content-center align-items-center" id="read-book-sug">

    </div>

    <hr/>
    <h3 class="page-title">Sách, Truyện mới cập nhật</h3>
    <div class="row" id="latest-books">
    </div>
    <div class="w-100 d-flex justify-content-center align-items-center mb-5">
        <button class="btn btn-outline-primary" onclick="clickBookLib()">Xem Tất Cả</button>
    </div>

    <hr/>
    <h3 class="page-title">SÁCH, TRUYỆN HAY XEM NHIỀU</h3>
    <div class="row" id="hottest-books">
    </div>
    <div class="w-100 d-flex justify-content-center align-items-center mb-5">
        <button class="btn btn-outline-primary" onclick="clickBookLib()">Xem Tất Cả</button>
    </div>
</div>
<div th:replace="common/footer.html"></div>
</body>
<script>
    $(document).ready(function () {
        loadBookGeneralApi()
    })

    const bookSugAvt = $("#book-sug-avt")
    const bookSugName = $("#book-sug-name")
    const bookSugIntro = $("#book-sug-intro")
    const latestBooks = $("#latest-books")
    const hottestBooks = $("#hottest-books")
    const readBookSug = $("#read-book-sug")

    function loadBookGeneralApi() {
        MyAjax.get("/api/books/general",
            function (response) {
                const bookSuggestion = response.bookSuggestion
                bookSugAvt.html("")
                bookSugAvt.append(`<img alt="${bookSuggestion.name}" class="img-thumbnail" src="${bookSuggestion.avatar}">`)
                readBookSug.html("")
                readBookSug.append(`<button class="btn btn-outline-primary" onclick="MyAjax.getBookDetail('${bookSuggestion.id}')">Đọc Ngay</button>`)
                bookSugName.text(bookSuggestion.name)
                bookSugIntro.text(bookSuggestion.intro)

                const latestBooksData = response.latestBooks
                latestBooks.html("")
                for (const book of latestBooksData) {
                    latestBooks.append(`<div class="col-lg-2 col-md-3 col-6 mb-4 cur-pointer" onclick="MyAjax.getBookDetail('${book.id}')"> <img alt="${book.name}"
                    class="img-thumbnail w-100 h-210px"
                    src="${book.avatar}">
                    <h6 class="book-title">${book.name}</h6>
                    </div>`)
                }

                const hottestBooksData = response.hottestBooks
                hottestBooks.html("")
                for (const book of hottestBooksData){
                    hottestBooks.append(`<div class="col-lg-2 col-md-3 col-6 mb-4 cur-pointer" onclick="MyAjax.getBookDetail('${book.id}')">
                            <img alt="${book.name}" class="img-thumbnail w-100 h-210px"
                            src="${book.avatar}">
                            <div class="d-flex view-count">
                            <i class="far fa-eye"></i>
                            <p class="pl-1">${book.totalView}</p>
                            </div>
                            <h6 class="book-title">${book.name}</h6>
        </div>
`)
                }
            }, function (xhr) {
                MyAjax.notify("Không thể tải trang!", "errors")
            })
    }
</script>
</html>