<!doctype html>
<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head th:replace="common/head.html"></head>
<body>
<div th:replace="common/nav-bar.html"></div>
<div class="container mt-100px">
    <h3 class="page-title">Sách & Truyện hay nên đọc</h3>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-12">
            <img alt="Tam sinh tam thế, thập lý đào hoa"
                 class="img-thumbnail"
                 src="https://docsach24.co/filemanager/data-images/Truyện Ngắn - Ngôn Tình/Tam-sinh-tam-the--thap-ly-dao-hoa.jpg">
        </div>
        <div class="col-lg-8 col-md-6 col-12">
            <h6 class="book-name">Tam sinh tam thế, thập lý đào hoa</h6>
            <p class="book-introduce">Tam Sinh Tam Thế, Thập Lý Đào Hoa xoay quanh mối tình trải qua 3 kiếp giữa Thái tử
                Cửu Trùng Thiên - Dạ Hoa và nữ đế của Thanh Khâu là Bạch Thiển (Tố Tố).
                Dạ Hoa với Bạch Thiển qua tam kiếp, chàng nợ nàng hay nàng nợ chàng, ân oán, đúng sai không thể phân
                định rõ ràng.
                Giây phút nhìn thấy Bạch Thiển ở Đông Hải Thiên Cung, Dạ Hoa nở nụ cười “Tố Tố, ta đã chờ được nàng
                rồi”.
                Đọc truyện Tam Sinh Tam Thế, Thập Lý Đào Hoa người đọc sẽ trải qua rất nhiều cung bậc cảm xúc vừa đau
                lòng lại vừa ngưỡng mộ, vỡ òa hạnh phúc khi cuối cùng các nhân vật cũng tìm được tình yêu của cuộc đời
                mình. Nếu bạn là fan của truyện ngôn tình thì chắc chắn đây là bộ truyện không thể bỏ qua.
            </p>
        </div>
    </div>
    <div class="w-100 d-flex justify-content-center align-items-center">
        <button class="btn btn-outline-primary" onclick="clickReadBook()">Đọc Ngay</button>
    </div>

    <hr/>
    <h3 class="page-title">Sách, Truyện mới cập nhật</h3>
    <div class="row">
        <div class="col-lg-2 col-md-3 col-6 mb-4">
            <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                 src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
            <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mb-4">
            <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                 src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
            <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mb-4">
            <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                 src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
            <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mb-4">
            <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                 src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
            <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mb-4">
            <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                 src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
            <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mb-4">
            <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                 src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
            <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mb-4">
            <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                 src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
            <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mb-4">
            <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                 src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
            <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mb-4">
            <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                 src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
            <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mb-4">
            <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                 src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
            <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mb-4">
            <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                 src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
            <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mb-4">
            <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                 src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
            <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
        </div>
    </div>
    <div class="w-100 d-flex justify-content-center align-items-center mb-5">
        <button class="btn btn-outline-primary" onclick="clickBookLib()">Xem Tất Cả</button>
    </div>

    <hr/>
    <h3 class="page-title">SÁCH, TRUYỆN HAY XEM NHIỀU</h3>
    <div class="row">
        <div class="col-lg-2 col-md-3 col-6 mb-4">
            <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                 src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
            <div class="d-flex view-count">
                <i class="far fa-eye"></i>
                <p class="pl-1">100</p>
            </div>
            <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
        </div>

        <div class="col-lg-2 col-md-3 col-6 mb-4">
            <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                 src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
            <div class="d-flex view-count">
                <i class="far fa-eye"></i>
                <p class="pl-1">100</p>
            </div>
            <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
        </div>

        <div class="col-lg-2 col-md-3 col-6 mb-4">
            <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                 src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
            <div class="d-flex view-count">
                <i class="far fa-eye"></i>
                <p class="pl-1">100</p>
            </div>
            <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
        </div>

        <div class="col-lg-2 col-md-3 col-6 mb-4">
            <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                 src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
            <div class="d-flex view-count">
                <i class="far fa-eye"></i>
                <p class="pl-1">100</p>
            </div>
            <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
        </div>

        <div class="col-lg-2 col-md-3 col-6 mb-4">
            <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                 src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
            <div class="d-flex view-count">
                <i class="far fa-eye"></i>
                <p class="pl-1">100</p>
            </div>
            <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
        </div>

        <div class="col-lg-2 col-md-3 col-6 mb-4">
            <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                 src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
            <div class="d-flex view-count">
                <i class="far fa-eye"></i>
                <p class="pl-1">100</p>
            </div>
            <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
        </div>

        <div class="col-lg-2 col-md-3 col-6 mb-4">
            <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                 src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
            <div class="d-flex view-count">
                <i class="far fa-eye"></i>
                <p class="pl-1">100</p>
            </div>
            <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
        </div>

        <div class="col-lg-2 col-md-3 col-6 mb-4">
            <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                 src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
            <div class="d-flex view-count">
                <i class="far fa-eye"></i>
                <p class="pl-1">100</p>
            </div>
            <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
        </div>

        <div class="col-lg-2 col-md-3 col-6 mb-4">
            <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                 src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
            <div class="d-flex view-count">
                <i class="far fa-eye"></i>
                <p class="pl-1">100</p>
            </div>
            <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
        </div>

        <div class="col-lg-2 col-md-3 col-6 mb-4">
            <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                 src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
            <div class="d-flex view-count">
                <i class="far fa-eye"></i>
                <p class="pl-1">100</p>
            </div>
            <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
        </div>

        <div class="col-lg-2 col-md-3 col-6 mb-4">
            <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                 src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
            <div class="d-flex view-count">
                <i class="far fa-eye"></i>
                <p class="pl-1">100</p>
            </div>
            <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
        </div>

        <div class="col-lg-2 col-md-3 col-6 mb-4">
            <img alt=" Tiểu Yêu Thê Convert" class="img-thumbnail w-100"
                 src="https://docsach24.co/filemanager/data-images/tieu-yeu-the-convert.jpg">
            <div class="d-flex view-count">
                <i class="far fa-eye"></i>
                <p class="pl-1">100</p>
            </div>
            <h6 class="book-title">Tiểu Yêu Thê Convert</h6>
        </div>
    </div>
    <div class="w-100 d-flex justify-content-center align-items-center mb-5">
        <button class="btn btn-outline-primary" onclick="clickBookLib()">Xem Tất Cả</button>
    </div>
</div>
<div th:replace="common/footer.html"></div>
</body>
</html>