<!doctype html>
<html lang="en">
<head th:replace="common/head.html"></head>
<body>
<div th:replace="common/nav-bar.html"></div>
<div class="container mt-100px">
    <div class="row justify-content-center">
        <form class="w-100">
            <h4 class="w-100 text-center">Thêm sách mới</h4>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="book-name">Tên cuốn sách</label>
                        <input class="form-control" id="book-name" placeholder="Nhập tên cuốn sách" type="text">
                    </div>
                    <div class="form-group">
                        <label for="book-intro">Giới thiệu sách</label>
                        <textarea class="form-control" id="book-intro" placeholder="Giới thiệu sách" style="height: 250px"
                                  type="text"></textarea>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="book-avatar">Ảnh bìa</label>
                        <input class="form-control" id="book-avatar" placeholder="Nhập URL ảnh bìa" type="text">
                    </div>
                    <div class="form-group">
                        <label for="book-url">Địa chỉ file</label>
                        <input class="form-control" id="book-url" placeholder="Địa chỉ file" type="text">
                    </div>
                    <div class="form-group">
                        <label for="total-chap">Số chương</label>
                        <input class="form-control" id="total-chap" placeholder="Số chương" type="number">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group mb-3">
                        <label for="book-type">Thể loại sách</label>
                        <select class="form-select custom-select" id="book-type" multiple style="height: 320px">
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group mb-3">
                        <label for="book-author">Tác giả</label>
                        <select class="form-select custom-select" id="book-author" multiple style="height: 320px">
                        </select>
                    </div>
                </div>
            </div>
            <div class="w-100 d-flex justify-content-end">
                <button class="btn btn-outline-success w-150px mr-2" id="btn-add-author" type="button">Thêm tác giả</button>
                <button class="btn btn-outline-primary w-150px" id="btn-save" type="button">Save</button>
            </div>
        </form>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="modal-add-author">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm mới tác giả</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="author-name">Tên tác giả</label>
                    <input class="form-control" id="author-name" placeholder="Nhập tên tác giả" type="text">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-save-author">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $("#btn-add-author").on("click", function () {
        $("#modal-add-author").modal("show")
        $("#author-name").val("")
    })

    $("#btn-save-author").on("click",function () {
        const data = {
            authorName: $("#author-name").val()
        }

        MyAjax.post("/api/authors", JSON.stringify(data),
            function () {
                $("#modal-add-author").modal("hide")
                MyAjax.notify("Tạo mới tác giả thành cong!", "success")
                loadAuthors()
            },
            function (xhr) {
                MyAjax.notify("Tạo mới tác giả thất bại!", "error")
            })
    })

    const bookTypeElement = $("#book-type")
    const authorElement = $("#book-author")
    const btnSave = $("#btn-save")

    btnSave.on("click", function () {
        const bookReq = {
            name: $("#book-name").val(),
            intro: $("#book-intro").val(),
            avatar: $("#book-avatar").val(),
            url: $("#book-url").val(),
            totalView: 0,
            totalChapter: $("#total-chap").val(),
            bookTypes: bookTypeElement.val(),
            authorIds: authorElement.val()
        }

        MyAjax.post("/api/books", JSON.stringify(bookReq),
            function () {
                MyAjax.notify("Tạo mới sách thành công!");
                window.location.href = window.location.origin;
            }, function (xhr) {
                const statusCode = xhr.status
                if (statusCode && statusCode === 400) {
                    MyAjax.notify('Thông tin sách không hợp lệ! ', 'error')
                } else {
                    MyAjax.notify('Lỗi hệ thống! ', 'error')
                }
            })

    })


    $(document).ready(function () {
        loadBookTypes()
        loadAuthors()
    })

    function loadBookTypes() {
        bookTypeElement.html("")
        MyAjax.get("/api/book-types",
            function (data) {
                for (const booktype of data) {
                    bookTypeElement.append('<option value="' + booktype.id + '">' + booktype.typeName + '</option>'
                    )
                }
            }), function (xhr) {
            MyAjax.notify("Không lấy được thông tin về thể loại", "error")
        }
    }

    function loadAuthors() {
        authorElement.html("")
        MyAjax.get("/api/authors",
            function (data) {
                for (const author of data) {
                    authorElement.append('<option value="' + author.id + '">' + author.name + '</option>'
                    )
                }
            }), function (xhr) {
            MyAjax.notify("Không lấy được thông tin về tác giả", "error")
        }
    }
</script>

<!--<div th:replace="common/footer.html"></div>-->
</body>
</html>