<!doctype html>
<html lang="en">
<head th:replace="common/head.html"></head>
<body>
<div th:replace="common/nav-bar.html"></div>
<div class="container mt-100px">
    <div class="row justify-content-center">
        <form class="w-50">
            <h4 class="w-100 text-center">Thêm sách mới</h4>
            <div class="form-group">
                <label for="book-name">Tên cuốn sách</label>
                <input class="form-control" id="book-name" placeholder="Nhập tên cuốn sách" type="text">
            </div>
            <div class="form-group">
                <label for="book-intro">Giới thiệu sách</label>
                <textarea class="form-control" id="book-intro" placeholder="Giới thiệu sách" type="text"></textarea>
            </div>
            <div class="form-group">
                <label for="book-avatar">Ảnh bìa</label>
                <input class="form-control" id="book-avatar" placeholder="Nhập URL ảnh bìa" type="text">
            </div>
            <div class="form-group">
                <label for="book-url">Địa chỉ file PDF</label>
                <input class="form-control" id="book-url" placeholder="Địa chỉ file PDF" type="text">
            </div>
            <div class="form-group">
                <label for="total-chap">Số chương</label>
                <input class="form-control" id="total-chap" placeholder="Số chương" type="number">
            </div>
            <div class="form-group mb-3">
                <label for="book-type">Thể loại sách</label>
                <select id="book-type" class="form-select custom-select" multiple>
                    <option value="0">Hiện đại</option>
                    <option value="1">Xuyên không</option>
                    <option value="2">Cổ đại Ngôn tình</option>
                    <option value="3">Happy Ending</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="book-author">Tác giả</label>
                <select id="book-author" class="form-select custom-select" multiple>
                    <option value="0">Xuân Diệu</option>
                    <option value="1">Abc</option>
                </select>
            </div>
            <div class="w-100 d-flex justify-content-end">
                <button class="btn btn-outline-success w-150px mr-2" id="btn-add-author" type="button">Thêm tác giả</button>
                <button class="btn btn-outline-primary w-150px" id="btn-save" type="button">Save</button>

            </div>
        </form>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="modal-add-author">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm mới tác giả</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="author-name">Tên tác giả</label>
                    <input class="form-control" id="author-name" placeholder="Nhập tên tác giả" type="text">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-save-author">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $("#btn-add-author").on("click", function () {
        $("#modal-add-author").modal("show")
    })

    $("#btn-save-author").on("click",function () {
        const data = {
            authorName : $("#author-name").val()
        }

        MyAjax.post("/authors",JSON.stringify(data),
        function () {
            $("#modal-add-author").modal("hide")
            MyAjax.notify("Tạo mới tác giả thành cong!","success")
            //TODO : reload mục tác giả để nó có thông tin tác giả mới
        },
        function (xhr) {
            MyAjax.notify("Tạo mới tác giả thất bại!","error")
        })
    })
</script>

<!--<div th:replace="common/footer.html"></div>-->
</body>
</html>