<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<!--suppress HtmlRequiredTitleElement -->
<head th:replace="common/head.html"></head>
<body>
<div th:replace="common/simple-nav-bar.html"></div>
<div class="login-layout">
    <div class="login-form">
        <form>
            <h4>Đăng Nhập</h4>
            <div class="form-group">
                <label for="login-username">Username hoặc E-mail</label>
                <input class="form-control" id="login-username" placeholder="Nhập Username hoặc E-mail"
                       type="email">
            </div>
            <div class="form-group">
                <label for="login-password">Password</label>
                <div class="input-group mb-3">
                    <input aria-describedby="basic-addon2" class="form-control" id="login-password"
                           placeholder="Nhập mật khẩu" type="password">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" id="button-show-password" type="button"><i
                                class="far fa-eye"></i></button>
                    </div>
                </div>
            </div>
            <button class="btn btn-outline-primary" id="btn-login" type="button">Đăng Nhập</button>
            <div class="d-flex">
                <h6>Đăng nhập bằng: </h6>
                <a th:href="@{~/oauth2/authorization/github}">Github</a>
                <div class="pl-2">/</div>
                <a th:href="@{~/oauth2/authorization/okta}" class="pl-2">Okta</a>
            </div>
            <div class="d-flex">
                <h6>Bạn chưa có tài khoản</h6>
                <a th:href="@{~/authen/register-page}">Đăng ký</a>
            </div>
            <div class="d-flex">
                <h6>Quên mật khẩu</h6>
                <a th:href="@{~/authen/reset-pass-page}">Đặt lại mật khẩu</a>
            </div>
        </form>
    </div>
</div>
</body>
<script>
    const inputUsername = $("#login-username")
    const inputPassword = $("#login-password")
    const btnLogin = $("#btn-login")
    const btnShowPass = $("#button-show-password")

    let loginRequest = {
        email: null,
        password: null
    }

    btnLogin.on("click", function () {
        sendLoginRequest()
    })

    inputUsername.on("keypress", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault()
            sendLoginRequest()
        }
    })

    inputPassword.on("keypress", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault()
            sendLoginRequest()
        }
    })

    function sendLoginRequest() {
        loginRequest.email = inputUsername.val()
        loginRequest.password = inputPassword.val()
        MyAjax.post("/authen/login", JSON.stringify(loginRequest), function () {
                window.location.href = window.location.origin + "/home-page"
            }, function (xhr) {
                const statusCode = xhr.status
                if (statusCode && statusCode === 400) {
                    MyAjax.notify('Username hoặc password bị trống! ', 'error')
                } else if (statusCode && statusCode === 403) {
                    MyAjax.notify('Username hoặc password không đúng! ', 'error')
                } else {
                    MyAjax.notify('Lỗi hệ thống! ', 'error')
                }
            }
        )
    }

    btnShowPass.on("mousedown", function () {
        inputPassword.attr("type", "text")
    })

    btnShowPass.on("mouseup", function () {
        inputPassword.attr("type", "password")
    })
</script>
</html>