<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" th:href="@{~/lib/bootstrap.min.css}"
          rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"

          referrerpolicy="no-referrer" rel="stylesheet"/>
    <link crossorigin="anonymous"
          th:href="@{~/lib/jquery.toast.css}"

          referrerpolicy="no-referrer" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{~/lib/simplePagination.css}"/>
    <link rel="stylesheet" th:href="@{~/css/style.css}"/>
    <link rel="icon" type="image/x-icon" th:href="@{~/img/favicon.ico}"/>
    <script crossorigin="anonymous"

            referrerpolicy="no-referrer" th:src="@{~/lib/jquery.js}"></script>
    <script crossorigin="anonymous"

            referrerpolicy="no-referrer" th:src="@{~/lib/jquery.toast.js}"></script>
    <script crossorigin="anonymous"

            referrerpolicy="no-referrer" th:src="@{~/lib/bootstrap.js}"></script>
    <script th:src="@{~/js/common.js}"></script>
    <script th:src="@{~/lib/jquery.simplePagination.js}"></script>
    <title>Đọc sách 24h</title>
</head>