html, body {
    width: 100%;
    height: 100%;
}

.hide-bg {
    background-color: transparent;
    outline: none;
    border: none;
}

.hide-bg:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

#navbarSupportedContent i {
    font-size: 20px;
    line-height: 38px;
}

.nav-choice {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 2rem;
    font-weight: bold;
}

.nav-choice button {
    font-weight: bold;
}

.nav-choice:hover, .nav-choice:hover button {
    color: #007bff;
}

.mt-200px {
    margin-top: 200px;
}

.mt-100px {
    margin-top: 100px;
}

.mt-150px {
    margin-top: 150px;
}

.w-150px {
    width: 150px;
}

.page-title {
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    margin-top: 3rem;
}

.book-name {
    font-size: 24px;
}

.book-introduce {
    font-size: 18px;
    text-align: justify;
}

.book-title {
    margin-top: 10px;
}

.view-count {
    width: 100%;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #007bff;
    color: #007bff;
    align-items: center;
    justify-content: center;
}

.view-count p {
    display: block;
    margin: 0;
    border-radius: 5px;
}

.footer-style {
    background-color: #092956;
}

.footer-style i {
    color: white;
}

.book-ranking-outline {
    padding-top: 10px;
    border-top: 1px dashed #00000075;
    margin-bottom: 10px;
}

.book-ranking-info {
    display: flex;
}

.book-ranking-info:hover {
    color: #007bff;
}

.book-ranking-info:hover .book-ranking {
    border: 1px solid #007bff;
    color: #007bff;
}

.book-ranking {
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 22px;
    font-weight: 700;
    background-color: white;
    color: black;
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 10px;
}

h6.book-display-name {
    margin: 0;
    line-height: 22px;
    cursor: pointer;
}

.login-layout {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(209, 206, 246);
    background: linear-gradient(225deg, rgba(209, 206, 246, 1) 0%, rgba(0, 123, 255, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.login-form {
    width: 350px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form form {
    width: 80%;
}

.login-form label {
    font-weight: 600;
}

#btn-login {
    width: 100%;
    font-weight: 600;
    margin-bottom: 10px;
}

.login-form h4 {
    text-align: center;
    margin-bottom: 30px;
}

.login-form h6 {
    font-weight: 300;
    margin-bottom: 0;
    line-height: 23px;
    margin-right: 5px;
}

.login-nav-bar {
    position: fixed;
    width: 100%;
    background-color: white;
}

.login-nav-bar a {
    margin-left: 15px;
}

.login-form.register {
    height: 550px;
    width: 500px;
}